@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.loopContainer {
  display: flex;
  gap: calc(var(--index) * 5);
  position: relative;
  max-width: 100%;
}

.loop {
  /* padding: 50px 0; */
  font-family: "Roboto", serif;
  font-size: calc(var(--index) * .8);
  color: rgb(0, 0, 0);
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--index));
}


@media (max-width: 1100px) {
  .loopContainer {
    gap: calc(var(--index) * 3)
  }
}
@media (max-width: 768px) {
  .loopContainer {
    gap: calc(var(--index))
  }
  .loop img {
    max-width: calc(var(--index) * 2.5);
    max-height: calc(var(--index) * 2.5);
  }
}
@media (max-width: 768px) {
  .loopContainer {
    display: grid;
    grid-template-columns: repeat(3, calc(var(--index) * 5));
    gap: calc(var(--index) * 4);
  }
  .loop img {
    max-width: calc(var(--index) * 2.5);
    max-height: calc(var(--index) * 2.5);
  }
}