@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.fullContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", serif;
  background: #e2e2e2;
  width: calc(var(--index) * 40);
  margin: 200px auto;
  height: calc(var(--index) * 34);
  background: #d6d6d6;
  padding: 40px 0;
  box-shadow: 0px 0px 50px 10px rgb(175, 175, 175);
}

.productImg {
  border-radius: 10px;
  border: 3px solid #2f2d3d;
  width: calc(var(--index) * 14);
}

.container {
  display: flex;
  justify-content: space-around;
  gap: calc(var(--index) * 2);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* text-align: center; */
  max-width: calc(var(--index) * 16);
  font-size: calc(var(--index) * 0.7);
  position: relative;
}

.datail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(var(--index));
}

.p {
  display: flex;
  gap: calc(var(--index) * 0.3);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.character {
  font-weight: 700;
}

.btnOffer {
  font-family: "Roboto", serif;
  padding: 10px 15px;
  background: transparent;
  color: #2f2d3d;
  border: 3px solid rgb(204 204 204);
  font-weight: 500;
  cursor: pointer;
}

.btnOffer:hover {
  background: #bbfab4;
  /* color: #eaeaea; */
  border: 3px solid #75bd73;
}

.main h2 {
  text-align: center;
}

.priceContainer {
  display: flex;
  position: absolute;
  font-size: calc(var(--index));
  font-weight: 500;
  bottom: calc(var(--index) * 3.3);
  right: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--index) * 0.6);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--index) * 0.2);
}

.inputContainer span {
  font-size: calc(var(--index) * 0.5);
}

.inputContainer input {
  padding: 8px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  opacity: 70%;
}

.countContainer {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--index) * 0.5);
}

.countContainer input {
  padding: 8px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  opacity: 70%;
  max-width: calc(var(--index));
}

.radioContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--index) * 0.5);
  font-size: calc(var(--index) * 0.5);
}

.radioContainer div {
  opacity: 80%;
  display: flex;
  gap: calc(var(--index) * 0.3);
}

.radioContainer label {
  cursor: pointer;
}

.radioContainer input {
  margin-left: calc(var(--index) * 0.5);
}

.sendBtn {
  font-family: "Roboto", serif;
  padding: 10px 15px;
  background: transparent;
  color: #2f2d3d;
  border: 3px solid rgb(204 204 204);
  font-weight: 500;
  cursor: pointer;
}

.sendBtn:hover {
  background: #bbfab4;
  /* color: #eaeaea; */
  border: 3px solid #75bd73;
}

.radioContainer input {
  appearance: none;
  width: calc(var(--index) * 0.7);
  height: calc(var(--index) * 0.7);
  background: rgb(204 204 204);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.radioContainer input:checked {
  background: #bbfab4;
}

.quote {
  font-size: calc(var(--index) * 0.38);
  opacity: 50%;
  text-decoration: underline;
}

.priceIcon {
  width: calc(var(--index));
}

@media (max-width: 768px) {
  .datail {
    grid-template-columns: repeat(1, 1fr);
  }
  .main {
    align-items: center;
    text-align: center;
    gap: 40px;
    max-width: calc(var(--index) * 16);
    font-size: calc(var(--index) * 0.7);
  }
  .container {
    align-items: center;
    gap: calc(var(--index) * 2);
  }
  .priceContainer {
    display: flex;
    position: static;
    align-items: center;
    font-size: calc(var(--index));
    font-weight: 500;
    /* bottom: calc(var(--index) * 3.3); */
    /* right: 0; */
  }
  .fullContainer {
    width: calc(var(--index) * 33);
    margin: 100px auto;
    height: calc(var(--index) * 35);
  }
}

@media (max-width: 486px) {
  .fullContainer {
    width: calc(var(--index) * 27);
    margin: 70px auto;
    height: 100%;
  }
  .container {
    flex-direction: column;
  }
  .datail {
    display: grid;
    grid-template-columns: repeat(2, calc(var(--index) * 8));
  }
  .inputContainer span {
    font-size: calc(var(--index));
    text-align: start;
  }

  .radioContainer {
    font-size: calc(var(--index));
    text-align: start;
  }
  .radioContainer input {
    width: calc(var(--index));
    height: calc(var(--index));
  }
  .radioContainer div {
    align-items: center;
  }

  .countContainer {
    font-size: calc(var(--index));
    text-align: start;
  }
  .countContainer input {
    padding: 5px 7px;
    max-width: calc(var(--index));
    font-size: calc(var(--index) * .9);
  }
  .quote {
    font-size: calc(var(--index) * 0.6);
  }
}
