@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", serif;
    transition: 0.5s;
}

.bgPopup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    font-family: "Roboto", serif;

}

.popup {
    font-family: "Roboto", serif;
    background: #ffffff;
    border-radius: 20px;
    padding: 30px;
}

.btn {
    padding: 10px 30px;
    border: 2px solid black;
    background: #ffffff;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}