.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 40px;
  border-radius: 20px;
  background: white;
  width: 20vw;
  position: relative;
}

.closeBtn {
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
