.slider {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    317deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(140, 140, 140, 1) 0%,
    rgba(0, 0, 0, 1) 89%
  );
  max-width: 100%;
  height: calc(var(--index) * 17.1);
  width: 100%;
  position: relative;
  border-radius: 43px;
  margin: 20px;
  overflow: hidden;
}

.slide {
  display: flex;
  width: 100%;
  height: 100%;
  transition: opacity ease-in-out;
}

.left {
  display: flex;
  justify-content: baseline;
  flex: 1;
  padding: 0 50px;
}

.right {
  width: calc(var(--index) * 16);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text {
  color: rgb(255, 255, 255);
  font-weight: 700;
  /* font-size: 27px; */
  font-size: calc(var(--index) * .9);
  line-height: 170%;
  display: flex;
  align-items: center;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--index) * 1.7);
  height: calc(var(--index) * 1.7);
  border-radius: 50%;
  background: white;
  position: absolute;
  border: none;
  opacity: 60%;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
}

.arrowIn {
  width: calc(var(--index) * .8);
  height: calc(var(--index) * .8);
}

.arrowLeft {
  left: calc(var(--index));
  top: calc(50% - 20px);
  transform: rotate(90deg);
}
.arrowRight {
  right: calc(var(--index));
  top: calc(50% - 20px);
  transform: rotate(270deg);
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

@media (max-width: 1100px) {
  .right {
    width: calc(var(--index) * 11);
  }
  .left {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex: 1;
    padding: 0 30px;
  }
  .text {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: calc(var(--index) * .7);
  }
}

@media (max-width: 768px) {
  .right {
    width: calc(var(--index) * 20);
  }
  .text {
    font-weight: 600;
    font-size: calc(var(--index) * .9);
  }
}
@media (max-width: 430px) {
  .right {
    width: calc(var(--index) * 15);
  }
  .text {
    font-weight: 600;
    font-size: calc(var(--index) * .9);
  }
}
